@import "tailwindcss";

@theme {
  --color-primary: #f8f6f2; /* ededef  */
  --color-secondary: #0a0a0a;
  --color-tertiary: #c0ff71;
}

* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  color: #fff;
  text-decoration: none;
  overflow-x: clip;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: var(--color-primary);
  min-height: 100vh;
}

html {
  overflow-x: clip;
  width: 100%;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--color-primary);
}

/* Components Layer */
@layer components {
  .cont {
    @apply w-full max-w-300 px-5 mx-auto;
  }

  .cta {
    border: 1px solid #fff;
    background-color: var(--color-primary);
  }
}

nav {
  border-radius: 10px 3px;
}

.nav-link:hover span {
  opacity: 1;
}

section {
  @apply w-full min-h-screen flex flex-col items-center;
  /* center section content — children with .cont will be perfectly centered */
}

.d-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-image:
    linear-gradient(to right, rgba(163, 163, 163, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 1px, transparent 1px);
  background-size: 100px 100%;

  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);

  pointer-events: none;
  z-index: 2;
}

/* Animations */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.7;
  }
}

.animate-flicker {
  animation: flicker 4s infinite;
}

.about {
  animation: come 400ms forwards 1;
  scale: 0%;
}

@keyframes come {
  to {
    scale: 100%;
  }
}

.abt-me {
  position: relative;
}

.abt-me::after,
.abt-me::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-tertiary);
  transition: 400ms ease-in-out;
}

.abt-me::after {
  bottom: -6px;
  left: 0;
}
.abt-me::before {
  top: -6px;
  right: 0;
}

.abt-me:hover::after,
.abt-me:hover::before {
  width: 100%;
}

::selection {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}
