@import "tailwindcss";

* {
  box-sizing: border-box;

  list-style: none;
  font-family: "Space Grotesk", sans-serif;
  cursor: none;
}
body {
  color: #fff;
  text-decoration: none;
  overflow-x: hidden;
  max-width: 100vw;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--color-primary);
}

@theme {
  --color-primary: #010001;
  --color-secondary: #005f73;
}

@layer components {
  .nav {
    @apply w-full px-4 border-b-[1px] border-b-[#ffffff7a] h-[80px] flex justify-center items-center;
  }

  .cont {
    padding-inline: 20px;
    max-width: 1200px;
    @apply min-h-screen w-full flex justify-evenly flex-col items-center mx-auto relative;
  }

  .cta {
    border: 1px solid #fff;
    background-color: var(--color-primary);
  }
}

header {
  height: 100vh;
  width: 100%;
  background: var(--color-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link:hover span {
  opacity: 1;
}

/* h1 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;

  span {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
  }
} */

section {
  @apply w-full min-h-screen flex bg-primary;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.7;
  }
}

.animate-flicker {
  animation: flicker 4s infinite;
}

.social-name {
  cursor: none;
  transition: 200ms ease-in;
}

.socials:hover .social-name {
  opacity: 0.5;
}

.img-cont {
}

.img-cont::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.about {
  animation: come 400ms forwards 1;
  scale: 0%;
}

@keyframes come {
  to {
    scale: 100%;
  }
}

.abt-me::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 400ms ease-in-out;
}

.abt-me::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 400ms ease-in-out;
  overflow: hidden;
}

.abt-me:hover::after {
  width: 100%;
}

.abt-me:hover::before {
  width: 100%;
}

.img-container {
  position: relative;
}

.img-container:hover {
  img {
    transition: 300ms ease-in-out;
    filter: blur(5px);
  }
  button {
    transition: 300ms ease-in-out;
    display: block;
  }
}
